@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@media (min-width: 375px) and (max-height:667px){
    body{
        background-color: hsl(217, 54%, 11%);
        font-size: 18px;
        color: hsl(215, 51%, 70%);
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-family: 'Outfit', sans-serif;
    }

    .container {
        background-color: hsl(216, 50%, 16%);
        border-radius: 15px;
        margin: 80px 10px;
        width: 295px;
        height: 100%;
        padding: 20px;
        flex-direction: column;
    }

    .imagebox {
        width: 100%;
        border-radius: 15px;
        max-height: 250px;
        border: none;
    }

    h1 {
        color: hsl(0, 0%, 100%);
        font-size: 22px;
    }

    p {
        font-size: 18px;
        color: hsl(215, 51%, 70%);
        font-weight: 300;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .price {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 600;
        padding-left: 10px;
        color: hsl(178, 100%, 50%);
    }

    .time {
        display: flex;
        margin-left: 100px;
        flex-direction: row;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
    }

    .timer {
        padding-left: 10px;
    }

    hr {
        margin-top: 20px;
        height: 1px;
        background-color: hsl(215, 32%, 27%);
        width: 100%;
        transform: scaleY(0.1);
      }
      

    .description {
        display: flex;
        flex-direction: row;
        font-weight: 300;
        align-items: center;
    }

    .circle {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border-style: solid;
        border-color: hsl(0, 0%, 100%);
        border-width: 1px;
        float: left;
        margin-right: 10px;
    }

    .name {
        color: hsl(0, 0%, 100%);
        margin-left: 5px;
        float: right;
    }

    .name:hover {
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }

    .imagebox:hover {
        cursor: pointer;
        background-color: hsl(178, 100%, 50%);
    }

    h1:hover {
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
}

@media (max-width: 1440px) and (max-height: 657px) {
    .container {
        justify-content: center;
        align-items: center;
        margin: 6% 35%;
    }
}
